################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/miniCalendar/.vs/miniCalendar/v15
/miniCalendar/miniCalendar/bin/Debug/3.xml
